:root {
    --red-color: red;
    --dark-color: black;
    --light-color: white;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.color-red {
    color: var(--red-color);
}

#table-of-contents {
    position:fixed;
    bottom:2rem;
    right:2rem;
    z-index: 9999;
    pointer-events: none;
}

.item-scroll-to {
    text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 rgb(255, 255, 255), -0.2px 0.2px 0 #000, 0.2px 0.2px 0 rgb(255, 255, 255);
}

#table-of-contents.showing .item-scroll-to {
    pointer-events: all;
    cursor: pointer;
}

.fab-container {
    position:fixed;
    bottom:2rem;
    right:2rem;
    cursor:pointer;
    z-index: 9999;
    visibility: hidden;

    transition-timing-function: ease-in;
    transition: 0.1s;
    transform: translateX(130%);
}

.floating-action-button {
    width:3rem;
    height:3rem;
    border-radius: 100%;
}

.fab-show {
    transition-timing-function: ease-out;
    transition: 0.75s;
    transform: translateX(0);
}

.fab-show .floating-action-button {
    animation: fab-box-shadow-anim-appear 0.75s linear forwards;
}

.fab-show img {
    animation: fab-anim-appear 0.75s linear forwards;
}

@keyframes fab-anim-appear {
    0% { opacity: 0;width: 0; height: 0;}
    99% { opacity: 0.5;width: 100%; height: 100%;}
    100% { opacity: 1; }
}

@keyframes fab-box-shadow-anim-appear {
    0% { box-shadow: none;}
    99% { box-shadow: none; }
    100% { box-shadow: 2px 2px 2px #aaaaaa; }
}

.center-title-container {
    width: 100vw;
    text-align: center;
}

.long-horizontal-img {
    max-width: 400%;
}

.train-container {
    height: 650rem;
}

.margin-top-train {
    margin-top: 33rem;
}

.a-clock_bubble {
    padding: 0;
}

.clocks-container {
    margin-top: -30vh;
}

.clock-bubble-img {
    width: 100%;
    height: 100%;
}

.clock-hand-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.clock-hand-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.clock-hand-hour {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.clock-hand-minus {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.clock-hand-second {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.rotate-normal.clock-hand-hour {
    position: absolute;
    animation: rotation 30s infinite linear;
}
.rotate-normal.clock-hand-minus {
    position: absolute;
    animation: rotation 10s infinite linear;
}
.rotate-normal.clock-hand-second {
    position: absolute;
    animation: rotation 1s infinite linear;
}

.rotate-slow.clock-hand-hour {
    position: absolute;
    animation: rotation 60s infinite linear;
}
.rotate-slow.clock-hand-minus {
    position: absolute;
    animation: rotation 20s infinite linear;
}
.rotate-slow.clock-hand-second {
    position: absolute;
    animation: rotation 2s infinite linear;
}

.rotate-fast.clock-hand-hour {
    position: absolute;
    animation: rotation 15s infinite linear;
}
.rotate-fast.clock-hand-minus {
    position: absolute;
    animation: rotation 5s infinite linear;
}
.rotate-fast.clock-hand-second {
    position: absolute;
    animation: rotation 0.5s infinite linear;
}

.rotate-revert.clock-hand-hour {
    position: absolute;
    animation: rotation-revert 30s infinite linear;
}
.rotate-revert.clock-hand-minus {
    position: absolute;
    animation: rotation-revert 10s infinite linear;
}
.rotate-revert.clock-hand-second {
    position: absolute;
    animation: rotation-revert 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes rotation-revert {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.barrier-container {
    margin-top: 6rem;
    z-index: 99;
}

.img-barrier {
    position: absolute;
    top: 70vh;
    left: 25vw;
    max-width: 45rem;
    z-index: 10;
}

.img-barrier-bar {
    transform: rotate(45deg);
    transform-origin: 90% 90%;
    transition-duration: 2s;
}

.img-barrier-light-right {
    position: absolute;
    top: 70vh;
    left: 25vw;
    max-width: 45rem;
    z-index: 11;
    animation: flash-right 1s infinite linear;
}

.img-barrier-light-left {
    position: absolute;
    top: 70vh;
    left: 25vw;
    max-width: 45rem;
    z-index: 11;
    animation: flash-left 1s infinite linear;
}


@keyframes flash-right {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}
@keyframes flash-left {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
}


/* countdownn */
.countdown-container{
    display:flex;
  }
  .big-text{
    font-size:2rem;
  }
  .countdown-container > div{
    margin:0 1rem;
    text-align: center;
    border:2px solid #fff;
    padding:0px 10px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    color:#fff;
    min-width:75px;
  }
  @media (max-width:992px){
    .countdown-container > div{
      margin:0 1rem;
    }
  }
  @media (max-width:767px){
    .countdown-container{
      flex-wrap: wrap;
    }
    .countdown-container > div{
      margin:1rem auto;
      max-width:75px;
    }
    .title{
      font-size: 1.5rem;
      line-height: 3.5rem;
      margin:10px 0px;
    }
    .title span{
      font-size: 2rem;
      letter-spacing: 1rem;
    }
}


.construction-stripes-background {
    background: repeating-linear-gradient(
    -45deg,
    #ffe100,
    #ffe100, 2rem,
    #000000 2rem,
    #000000 4rem
    );
    padding: 2rem !important;
}

.construction-stripes-background div {
    background-color: black;
    color: #fff;
}