:root {
    --red-color: red;
    --dark-color: black;
    --light-color: white;

    font-family: Arial, Helvetica, sans-serif;
}

.color-red {
    color: var(--red-color);
}

.center-title-container {
    width: 100vw;
    text-align: center;
}

.long-horizontal-img {
    max-width: 400%;
}

.train-container {
    height: 650rem;
}

.margin-top-center {
    margin-top: 35rem;
}